#theater {
  width: 100%;
  height: 400px;
  height: 60vh;
  
  .station {
    stroke-width: 1;
  }

  .manhattan {
    fill : c_red_4;
    stroke : c_red_2;
  }
  .brooklyn {
    fill : c_blue_4;
    stroke: c_blue_2;
  }
  .bronx {
    fill : c_green_4;
    stroke : c_green_2;
  }
  .queens {
    fill : c_yellow_4;
    stroke : c_yellow_2;
  }
}
